<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ResumeTracker</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="/static/css/style.css" type="text/css" rel="stylesheet" >



</head>
<body>


<header>
    <h1> ResumeTracker </h1>


     <nav>


         <a href="/login" class="btn btn-primary" > Login </a>
         &nbsp;


         <a href="/signup" class="btn btn-warning" > Signup </a>

    </nav>

</header>

<div>

    <h1 id="LargeIntro"> Hi i am ResumeTracker !</h1>

</div>

<footer>
    <p>
        Designed and Developed By Aashutosh in 2026 using Html,CSS,Js,Flask,Mysql.
    </p>
</footer>

</body>
</html>