{% include 'head.html' %}



    <form id="form" action="/login_check" method="post" autocomplete="off">
        <br>
        <br>
        <h3 style="color: white; font-weight: bold" >Login</h3>
        <br>



        <input type="tel" placeholder="Mobile" name="Mobile" required><br>
        <br>

        <input type="password" placeholder="Password" name="Password" required>
        <br>
        <br>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="color: white; font-size: 15px; font-weight: bold" >{{ msg }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <br>
        <button type="submit" class="btn btn-success">Login</button>


    </form>


{% include 'footer.html' %}